*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --cor-fonte: #ffffff;
    --cor-btn: #3a1ddd;
    --cor-fundo: #24232c;
    --placeholder-margin: 5px;
    --fonte-principal: Arial;
}

body{
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);

    & #titulo-cadastro, #titulo-login{
        font-family: var(--fonte-principal);
        color: var(--cor-fonte);
        margin-bottom: 100px;
    }

    & a {
        text-decoration: none;
        color: var(--cor-btn);
    }


}

#cadastro,#login{
    display: flex;
    flex-direction: column;
    width: 500px;
    color: var(--cor-fonte);

    & .input{
        height: 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: none;
        padding-left: var(--placeholder-margin);
    }

    & #cadastrar, #entrar{
        height: 40px;
        border-radius: 5px;
        margin-bottom: 10px;
        color: var(--cor-fonte);
        background-color: var(--cor-btn);
        border: none;
        
        margin-top: 20px;

        &:hover{
            cursor: pointer;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        }
    }

}